[package]
name = "anvil"
version = "0.1.0"
edition = "2024"

[dependencies]
sha2 = "0.10"
anyhow = "1.0"
clap = { version = "4.5", features = ["derive"]}
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.9"
serde_json = "1.0"
